<p><h1>Вітаю, <%= @current_user.name%> </h1></p>
<pre>Ваші права у системі icontract:
	<ul>
		<% @current_user.roles.active.each do |role|%>
			<%= tag.li role.name %>
		<% end	%>

	</ul>
</pre>

<pre>	Запустити перевірку подій:
  <%= button_to "Check reminders on date #{ DateTime.now.strftime("%d.%m.%Y") }", check_all_reminders_contracts_path(date: DateTime.now.strftime("%d.%m.%Y")) %>	

</pre>