<p id="notice"><%= notice %></p>

<div class="container">
	<div class="row">
		<div class="col-sm-8">
      <h2>Users</h2>

      <table class="table">
        <thead class="thead-default">
          <tr>
          	<th>id</th>
          	<th>Им’я</th>
          	<th>Е-мейл</th>
          	<th>Ролі користувача</th>
          </tr>
        </thead>

        <tbody id='ajaxUsers' inTag='tr' inTag2='td'>

        </tbody>

	    </table>


		</div> <!-- col -->
    <div class="col-sm-4">
			<div class="card card-default" id="rolesList">
		    <div class="card-header"> 
		    	<h2 class="card-title">Можливі ролі</h2>
		    </div>
		    <div class="card-block" >
	        <% @roles.each do |r| %>
	          <span class="draggable badge badge-pill badge-info" ondragstart="dragRole(event)">
	            <%= r.id.to_s + ' ' + r.name %>
	          </span>
	        <% end %>
			  </div>
		  </div>
    </div><!-- col -->
	</div><!-- row -->




  <div class="row"><!-- To delete -->
    <div class="col-sm-8">
      <h2>Users</h2>

      <table class="table">
        <thead class="thead-default">
          <tr>
          	<th>id</th>
          	<th>Имя</th>
          	<th>емейл</th>
          	<th>уровень доступа в icontract</th>
          	<th>ИП адрес</th>
          </tr>
        </thead>

        <tbody>
          <tr>
    	  		<td>  u.id </td>
    	  		<td>  u.name </td>
    	  		<td>  u.email </td>
    	  		<td>  u.roles </td>
    	  		<td>  u.ip_address </td>
          </tr>  

        </tbody>

	    </table>
    </div>



  </div> <!-- row -->



</div> <!-- container -->