<div class="container-fluid reminder-form">
</div>

<%= render 'form', reminder_type: @reminder_type %>

<%= link_to 'Показати деталі', @reminder_type %> |
<%= link_to 'Список договорів', reminder_types_path %>
