<div id="notice"><%= notice %></div>
<div class="container-fluid">
  <div class="row justify-content-start align-items-end">
    <div class="col-sm-4 text-sm-right">
      
      <h1>Події</h1>
    </div> <!-- col -->

    <div class="col-sm-4">

      <%= 
        # debugger
        list_change_buttons( "listChange('#{all_events_path}')",
                               "listChange('#{mine_events_path}')", 
                               @list_type["all"] ) 
      %>

    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-sm-12" id="data-container">

    <%= render 'events_table' %>
      
    </div> <!-- col -->
  </div> <!-- row -->


  <div class="row">
    <div class="col-sm-12">
      <pre> Події генеруються системою автоматчно по зареєстрованих договорах/актах. Вручну створити подію неможливо.</pre>
    </div> <!-- col -->
  </div> <!-- row -->

</div>