<div id="notice"><%= notice %></div>
<div class="container-fluid">
  <div class="row justify-content-start align-items-end">
    <div class="col-sm-4 text-sm-right">
      
      <h1>Акти/документи</h1>
    </div> <!-- col -->

    <div class="col-sm-4">
      <%= list_change_buttons( "listChange('#{all_akts_path}')",
                               "listChange('#{mine_akts_path}')", 
                               @list_type["all"]==true ) 
      %>

    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-sm-12" id="data-container">

    <%= render 'akts_table' %>
      
    </div> <!-- col -->
  </div> <!-- row -->


</div>

<footer class="footer fixed-bottom">
  <div type="button" class="btn btn-secondary">
  <%= fa_link_to( '-plus', new_akt_path({akt: {kind:'akt'}}), data: { toggle: "tooltip", placement: "top" }, title: "новий акт",  class: "management-button") {"Зареєструвати новий акт/документ" } %> 
  </div>
</footer>
