<div id="notice"><%= notice %></div>
<div class="container-fluid">
  <div class="row justify-content-start align-items-end">
    <div class="col-sm-4 text-sm-right">
      
      <h1>Акти/документи</h1>
    </div> <!-- col -->

    <div class="col-sm-4">
      <%= list_change_buttons( "listChange('#{all_akts_path}')",
                               "listChange('#{mine_akts_path}')", 
                               @list_type["all"]==true ) 
      %>

    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-sm-12" id="data-container">

    <%= render 'akts_table' %>
      
    </div> <!-- col -->
  </div> <!-- row -->


  <div class="row">
    <div class="col-sm-12">
      <pre> <%= fa_link_to( '-plus fa-2x', new_akt_path, data: { toggle: "tooltip", placement: "bottom" }, title: "новий акт",  class: "management-button") {"Зареєструвати новий акт" } %> </pre>

    </div> <!-- col -->
  </div> <!-- row -->

</div>