<footer class="footer fixed-bottom">
	
		<%= link_to(:back, class: "management-button") do %>
			<div type="button" class="btn btn-secondary">	<span class="fa fa-arrow-circle-o-left"></span> Назад </div>
		<% end %>
	

	<% if links[:details] %>
		<%= link_to( entity, class: "management-button") do %>
		 	<div type="button" class="btn btn-secondary"><span class="fa fa-id-card"></span> Показати деталі </div>
		<% end %>
	<% end %>



	<% if links[:edit] %>
		<%= link_to( polymorphic_path(entity, {action: :edit}), class: "management-button") do %>
		 	<div type="button" class="btn btn-secondary"><span class="fa fa-edit"></span> Редагувати </div>
		<% end %>
	<% end %>


</footer>
	 
	 